<div><img src="<%= @user.photo%>" alt="Photo">
    <div>
      <h4>Name: <%= link_to @user.name, user_path(@user) %></h4>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
</div>
<div>
  <h5>Bio</h5>
  <p><%= @user.bio %></p>
</div>
<section>
    <% @user.posts.order(created_at: :desc).limit(3).each do |post| %>
      <article>
        <h4><%= link_to post.title, user_post_path(@user, post) %></h4>
        <p><%= post.content%><p>
          <div>comments: <%= post.comments_counter%>, likes: <%= post.likes_counter%> </div>
      </article>
  <% end %>
</section>
<button><%= link_to "View User's Posts", user_posts_path(@user) %></button>
