<section class="post-details">
<article class="full-post">
<div class="author">
  <h4><%= @post.title %> by <%= @post.author.name %></h4>
  <p>Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
</div>
<%= button_to "Like", post_likes_path(@post.author.id, post_id: @post.id), method: :post %>
<p> <%= @post.content %></p>
</article>
<div class="full-post">
<% if @post.comments.any? %>
    <% @post.comments.each do |comment| %>
      <div>
        <p><strong><%= comment.author.name %>: </strong> <%= comment.content %></p>
      </div>
    <% end %>
<% else %>
  <p>No comments yet.</p>
<% end %>
<%= link_to "Add a Comment", new_post_comment_path(@post) %>
</div>
</section>